html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("rsc/bg.jpg") !important;
    background-color: #D5EDEF !important;
    color: dimgrey !important;
}

h1 {
    text-align: center;
	font-size: 4em !important;
}

header{
	margin-top: 1.5em;
}

header > div {
    display: inline-block;
}

.header-col-first {
    text-align: right;
}

.header-col-first > * {
    margin-left: auto;
}

.header-center {
    width: fit-content;
}

.header-center img {
    width: 10em;
    border-radius: 50%;
}

.social-btn img {
    width: 32px;
}

.repo-container {
    text-align: center;
}
.nodisplay{
    display: none;
}

.repo-card {
    width: 19rem;
    margin: 0.5rem;
    text-align: start;
}

.repo-desc {
    height: 5rem
}

.repo-card .star-btn {
    float: right;
}

.invisible-text {
    font-size: 0;
}

@media (max-width: 767px) {
    header .header-left {
        order: 2;
        margin-left: auto;
    }
    header .header-left h1 {
        display: none;
    }
    header .header-center {
        order: 1;
    }

    header .header-right {
        order: 3;
        margin-right: auto;
    }
    header .header-right h1 {
        display: none;
    }
    header{
        text-align: center;
    }
}
header .header-left {
    width: fit-content;
}

header .header-right {
    width: fit-content;
}


.right{
	float: right
}
